:root{
  background-color: rgb(51, 51, 51);
  margin: 0;
  padding: 0;
}
html{
  margin: 0;
  padding: 0;
}

.NotFound{
  font-size: 4rem;
  color: green;
  padding: 2rem;
  /* display: ; */
  
  text-align: center;
}